@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.formButton{
    height:45px;
    width:150px;
    padding:5px;
    background-color: #0324fc;
    color:#ffffff;
    border-radius:4px;
}
ul{
    list-style-type:none;
    padding-left:0px;
}

.resultContainer{
    display:flex;
align-items:flex-start;
 height:100vh;
    flex-direction:column;
    font-family:"Roboto";
}
