.filedContainer{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    background-color:gray;
}
h6{
    font-weight:bolder;
    text-align:center;
    color:red;
}
.card-container{
    height:300px;
    width:30%;
    padding:10px;
    align-items:center;
    border-radius:8px;
    background-color:#ffffff;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.input{
    width:90%;
}

button{
    background-color:skyblue;
    color:#ffffff;
    padding:5px;
    font-weight:bolder;
    border:none;
    border-radius:8px;
    width:90%;
}